<h1>Oh Hay Girrrrrrl! <%= @user.username %></h1>

<h3>My Products</h3>
<% if @products %>
  <% @products.each do |product| %>
    <p><%= product.name %></p>
    <p><%=image_tag product.photo_url %></p>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
    <p><%= product.category.first.name %></p>
    <p><%= link_to "Update Product", edit_product_path(product) %></p>
  <% end %>
<% else %>
  <p>You currently have no products for sale.</p>
<% end %>

<%= link_to "Create a new category", new_category_path %>
<%= link_to "Add a new product", new_product_path %>

<%= link_to "View your Orders", dashboard_orders_path %>
