<h1> Create A New Vendor Account </h1>
<form class="form-inline">
  <div class="form-group">
<%= form_for :user, url: "/users" do |f| %>
  <%= f.label :username, "User Name" %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email, class: "form-control" %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
</form>
