<h1><%= @user.username  %>'s Stuffs </h1>
  <% @user.products.each do |product| %>
    <p><%= link_to product.name, product_path(product.id) %></p>
    <p><%= image_tag(product.photo_url)%></p>
    <p>In Stock: <%= product.stock %></p>
    <p>Price: $<%= product.price %></p>
  <% end %>
