<h1><%= @user.username  %>'s Stuffs </h1>
<p><%= link_to "Go Home!", root_path%></p>
<p><%= link_to "Back to All Vendors", users_path%></p>
  <% @user.products.each do |product| %>
    <p><%= link_to product.name, product_path(product.id) %></p>
    <p><%= image_tag(product.photo_url)%></p>
    <p>In Stock: <%= product.stock %></p>
    <p>Price: $<%= product.price %></p>
  <% end %>
