<nav class="navbar navbar-default navbar-fixed-top">
  <!-- <div class="container-fluid"> -->
  <h1>Welcome to Petcessories</h1>

  <%= link_to "All Products", products_path, class: "btn btn-default" %>
  <%= link_to "Vendors", users_path, class: "btn btn-default" %>
  <%= link_to "Categories", categories_path, class: "btn btn-default" %>
  <%= link_to "View Cart", cart_path, class: "btn btn-default" %>


  <%= link_to "Login", login_path, class: "btn btn-default" %>
  <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-default" %>

  <!-- </div> -->
</nav>
