



<div class="row">

  <div class="col-md-3">
    <p>View Products by Category</p>
    <p>View Products by Merchant</p>

  </div>

  <div class="col-md-3">
      <% product = @products.sample %>
      <p> <%= image_tag(product.photo_url, height: '100', width: '100', class: "img-thumbnail" ) %> </p>
      <h3><%= link_to product.name, product_path(product) %></h3>
    </div>



  <div class="col-md-3">
    <% product = @products.sample %>
    <p> <%= image_tag(product.photo_url, height: '100', width: '100', class: "img-thumbnail" ) %> </p>
    <h3><%= link_to product.name, product_path(product) %></h3>
  </div>



  <div class="col-md-3">
    <% product = @products.sample %>
    <p> <%= image_tag(product.photo_url, height: '100', width: '100', class: "img-thumbnail" ) %> </p>
    <h3><%= link_to product.name, product_path(product) %></h3>
  </div>
</div>
