<h1> Thank You For Your Purchase! <h1>
  <p>Order placed:  <%= @order.created_at %>
  <p>Order Status: <%= @order.status %></p>
  <% @order.id %>
  <% total = 0 %>
  <% @order.order_items.each do |order_item| %>
  <% total+=order_item.quantity * order_item.product.price  %>
  <p>Product Name: <%=link_to order_item.product.name, product_path(order_item.product.id) %>
  <p>Product Price: $ <%= order_item.product.price %>
  <p>Quantity Ordered: <%= order_item.quantity %></p>
  <% end %>
  <p>Total Purchase: $ <%= total  %>
