<h1> Your Order Fulfillment Page</h1>

<% total_revenue = 0 %>

<% @orders.each do |order|  %>
  <h3>Order # <%= link_to order.id, dashboard_order_show_path(:order_id => order.id) %></h3>
  <p>Status: <%= order.status %></p>
  <p>Order Placed: <%= order.created_at.strftime("%B %-d, %Y %I:%M %p") %>

  <% order.order_items.each do |order_item| %>
    <% total_revenue += order_item.quantity * order_item.product.price  %>
    <p>Product Name: <%=link_to order_item.product.name, product_path(order_item.product.id) %>
    <p>Product Price: $ <%= order_item.product.price %>
    <p>Quantity Ordered: <%= order_item.quantity %></p>
  <% end %>
<% end %>
<h3>Total Revenue: $ <%= total_revenue %></h3>
<h3>Total Orders: <%= @orders.count %></h3>
