<h1> Show Page for Order #<%= @order.id %> </h1>

<p>Name: <%= @order.name %></p>
<p>Email: <%= @order.email %></p>
<p>Address: <%= @order.address %></p>
<p>CC: <%= @order.cc4 %></p>
<p>Exp Date: <%= @order.expiry_date.strftime("%Y/%m") %></p>
