<h1>Your Cart</h1>

<% @order_items.each do |item| %>
  <p>Product: <%= item.product.name %></p>
  <p>Quantity: <%= item.quantity %></p>
  <p><%= link_to "Remove from Cart", delete_item_path(item), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?"} %></p>
<% end %>

<% if session[:order_id] && @order_items.length > 0 %>
  <%= link_to "Checkout Now", edit_order_path(session[:order_id]) %>
<% else %>
  <%= "Add stuff to your cart first!" %>
<% end  %>


<p><%= link_to "Continue Shopping", products_path %></p>
