<h1>Your Cart</h1>

<% @order_items.each do |item| %>
  <p>Product: <%= item.product.name %></p>
  <p>Quantity: <%= item.quantity %></p>
  <p><%= link_to "Remove from Cart", delete_item_path(item), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?"} %></p>
<% end %>

<%= link_to "Checkout Now", "orders/edit" %>
<%= link_to "Continue Shopping", products_path %>
