<h1>Edit Your Product</h1>

<%= form_for @product do |f| %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :price, "Price" %>
  <%= f.text_field :price %>

  <%= f.label :stock, "Stock" %>
  <%= f.text_field :stock %>

  <%= f.label :photo_url, "Add Photo" %>
  <%= f.text_field :photo_url %>

  <%= f.label "Select Category" %>
  <%= f.collection_select :category_id, @categories, :id, :name, required: :true%>


  <%= f.submit "Submit" %>
<% end %>
