<h1>All Products</h1>
<% @products.each do |product| %>
<p><%= product.name %></p>
<p><%= image_tag("product.photo_url")%></p>
<p><%= product.price %></p>
<p><%= product.stock %></p>
<p><%= product.user %></p>
<p><%= product.rating %></p>
<p><%= product.reviews %></p>
<p><%= product.category.name %></p>
<% end %>
