<%= render "shared/header" %>

<p>Product Name: <%= @product.name %></p>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Stock: <%= @product.stock %></p>
<p><%= image_tag @product.photo_url %></p>
<p>Merchant: <%= @product.user.username %></p>
<p>Category: <%= @product.name %></p>

<% unless @reviews == nil %>
  <table>
    <th>Reviews</th>
    <% @reviews.each do |review| %>
      <tr>
        <td> <%= review.rating %> </td>
        <td> <%= review.text_review %> </td>
      </tr>
    <% end %>
  </table>
<% end %>

<!-- reviews go here
 -->
<%= link_to "Leave a Review", new_product_review_path(@product) %>
<%= link_to "Add to Cart", new_item_path(@product) %>
