
<div class="row">
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
  <% end %>

<div class="col-md-4 col-center">
  <p><%= image_tag(@product.photo_url, size: "300x300") %></p>
</div>

<div class="col-md-8" >
<h4><%= @product.name %></h4>
<p>Price: $<%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Stock: <%= @product.stock %></p>
<p>Merchant: <%= @product.user.username %></p>
<p>Categories:
<% @product.category.all.each do |category| %>
  <%= link_to "#{category.name}", category_path(category)  %>
<% end %>

<% unless @reviews == nil %>
  <table>
    <th>Reviews</th>
    <% @reviews.each do |review| %>
      <tr>
        <td> <%= review.rating %> </td>
        <td> <%= review.text_review %> </td>
      </tr>
    <% end %>
  </table>
<% end %>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <br>
    <br>
<%= link_to "Leave a Review", new_product_review_path(@product), class: "btn btn-primary" %>
<%= link_to "Add to Cart", new_item_path(@product), class: "btn btn-primary" %>
  </div>
</div>

